 * + *{
  box-shadow: 0 0 3px rgba(230, 9, 211, 0.753);
  padding: 2em;
  background-color: rgb(255, 192, 203, 0.5);
}

.full-app {
  height: 100%;
  background-image: linear-gradient(rgb(250, 139, 35), rgb(243, 241, 98));
}